
APP_ENV=dev
APP_PORT=8082


LOGGER_NAME=Food-delivery-api
LOG_LEVEL=info


MONGO_URI=mongodb://localhost:27017/my_db

JWT_SECRET=secret
SALT_ROUNDS=10
JWT_EXPIRES_IN=84600

PASSWORD_RESET_DURATION=84600
EMAIL_VERIFICATION_DURATION=84600